<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	</head>
	<body>
		<h1>Request for permission to use Hunter's photo</h1>
		<p>
			Someone has made a request to use one of Hunter's images. This person has supplied the following information via the Contact page at throughhunterseyes.com. 
		</p>
		<p>
			Name: <%= @petitioner %><br />
			Email address: <%= @replyEmailAddress %><br />
			Image number: <%= @imageNumber %><br />
			Description of why <%= @petitioner %> would like to use the photo: <%= @description %>
		</p>
		<p>
			Please reply to <%= @petitioner %> with a price for use. 
		</p>
	</body>
</html
	
	
