<header>
	<%= image_tag("logo.png", :alt => "Through Hunter's Eyes") %>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "About Hunter", abouthunter_path %></li>
			<li><%= link_to "About Autism", aboutautism_path %></li>
			<li><%= link_to "Archives", archives_path %></li>
		</ul>
	</nav>
</header>
